.chat-message__header.clearfix
  %p.chat-message__name
    = message.group.name
  %p.chat-message__time
    = message.created_at.to_s(:datetime)
%p.chat-message__body
  = simple_format(message.content)
    - unless message.image.blank?
    = image_tag message.image
