.contents
  .contents__left
    .contents__left__top
      %h3.contents__left__top__user-name
    .contents__left__bottom
    <!-- 部分テンプレート -->
  .contents__right
    .contents__right__top
      %h3.contents__right__top__group-name
      %h3.contents__right__top__member-name
    .contents__right__center
    <!-- 部分テンプレート -->
    .contents__right__bottom
