.contents
  .contents__left
    .contents__left__top
      %h3.contents__left__top__user-name
    .contents__left__bottom
      =render partial: :groups/group
  .contents__right
    .contents__right__top
      .contents__right__top__group
      %h3.contents__right__top__group__group-name
      %h3.contents__right__top__group__group-members
    .contents__right__center
      =render partial: :message
    .contents__right__bottom
