.chat
  .chat__side
    .chat__side__user
      %h5  Nagisa
      .chat__side__user__actions
        =link_to 'groups/new' do
          %i.fa.fa-pencil-square-o.fa-lg{"aria-hidden" => "true"}
        =link_to 'users/edit' do
          %i.fa.fa-cog.fa-lg{"aria-hidden" => "true"}
    %ul.chat-groups
      %li.chat-group
        %p.chat-group__name KKK
        %p.chat-group__message まだメッセージはありません。
  .chat-main
    .chat-header
      .chat-header__left
        %h2 KKK
        %p.chat-header__users Members: Nagisa Mai
      .chat-header__right
        .chat-header__edit-btn{type: "edit"} Edit
    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header.clearfix
            %p.chat-message__name Nagisa
            %p.chat-message__time 2017/05/03 12:51:31
          %p.chat-message__body たいぷあめっせいーじ
        %li.chat-message
          .chat-message__header
            %p.chat-message__name Nagisa
            %p.chat-message__time 2017/05/04 15:27:46
          %p.chat-message__body たいぷあめっせーじ

    .chat-footer
      %form
        %textarea{placeholder: "type a message"}
        %i.fa.fa-picture-o.fa-lag{"aria-hidden" => "true"}
        %input{type: "submit"}

