= link_to group_messages_path(group), method: :get do
  %p.chat-group__name
    = group.name
  %p.chat-group__message
    -if  message = group.messages.last
      = message.try(:content)
    - else
      まだメッセージがありません。
