$BlueColor: #2f3e51;

$MoreBlueColor: #253141;

$WhiteColor: #fff;

$Black_GrayColor: #434A54;

$SkyColor: #38aef0;

$GrayColor: #fafafa;

$LessGrayColor: #999;

$MoreGrayColor: #ddd;

$OrangeColor:#F90;

$RedColor: #f05050;


